{% macro taskinput(sockets, task) %}
<tr>
  <td name="task-id-field">#{{ task.id }}</td>
  <td>
    <input type="text" size="5" name="time" value="{{ task.time }}" autocomplete="off">
  </td>
  {% for socket in sockets -%}
  <td>
    <select name="{{ socket.number }}" autocomplete="off">
      <option value="2">{{ _('no change') }}</option>
      <option value="1" {%- if socket.number in task.turn_on %} selected{% endif %}>{{ _('turn on') }}</option>
      <option value="0" {%- if socket.number in task.turn_off %} selected{% endif %}>{{ _('turn off') }}</option>
    </select>
  </td>
  {% endfor -%}
  <td>
    <input type="checkbox" name="active" value="y" autocomplete="off"
      {%- if task.active %} checked{% endif %}>
  </td>
  <td>
    <a href="#" name="save-task-link">{{ _('Save') }}</a>,
    <a href="#" name="delete-task-link">{{ _('Delete') }}</a>
    <input name="task-id" type="hidden" value="{{ task.id or 0 }}">
  </td>
</tr>
{% endmacro -%}

{% macro schedulelog(log) %}
{% if log %}
<span>{{ _('Showing last %(amount)s log entries', amount=log|length) }}:</span>
{% for entry in log %}
<tr>
  <td name="task-log-time">{{ entry.timestamp }}</td>
  <td>#{{ entry.task_id }}</td>
  <td>{% if entry.success %}{{ _('yes') }}{% else %}{{ _('no') }}{% endif %}</td>
  <td>{{ entry.response }}</td>
</tr>
{% endfor %}
{% else %}
<tr>
  <td colspan="100%">{{ _('Schedule log is empty') }}</td>
</tr>
{% endif %}

{% endmacro %}
